/* @media (min-width: 1920px) {
  .v-container {
    max-width: 1800px;
  }
} */
body {
  font-family: 'Roboto', sans-serif;
}

body,
.dx-badge {
  background-color: #d1c4e9;
}

.dx-badge {
  color: #6750a4;
}

.row-alarm > td {
  color: red !important;
}

.row-alarm-bold > td {
  font-weight: bold !important;
}

.grey {
  /*background-color: #d5d5d5;*/
  font-weight: bold;
}

.dx-tab {
  background-color: #ede7f6;
}

.dx-tab-text {
  font-size: large;
}

.dx-icon {
  display: inline-block;
}

.dx-datagrid,
.dx-datagrid-header-panel,
.dx-toolbar {
  background-color: transparent;
}
.dx-datagrid-headers,
.dx-data-grid-borders .dx-data-grid,
.dx-datagrid .dx-column-lines > td {
  color: #000;
  border-right: #000;
}
.column-date {
  background-color: #d1c4e9;
}

.dx-data-row .cell-highlighted5,
.dx-header-row .cell-highlighted5,
.dp__theme_light .--dp-background-color {
  background-color: #ede7f6;
}

.dx-data-row .cell-highlighted6,
.dx-header-row .cell-highlighted6 {
  background-color: #d1c4e9;
}

.dx-data-row .cell-highlighted7,
.dx-header-row .cell-highlighted7 {
  background-color: #b39ddb;
}

.dx-data-row .cell-highlighted8,
.dx-header-row .cell-highlighted8 {
  background-color: #d1c4e9;
}

.dx-data-row .cell-highlighted9,
.dx-header-row .cell-highlighted9 {
  background-color: #ede7f6;
}

.dx-datagrid-header-panel {
  background-color: '#EADDFF';
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('Roboto'), url('./fonts/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/Roboto-Regular.woff') format('woff');
}
